  <div class="home-form-container">
    <h2>Formulario de Búsqueda de Viaje</h2>
    <form [formGroup]="homeForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="origin">Origen:</label>
        <input id="origin" formControlName="origin" type="text" placeholder="Ej: Madrid" />
      </div>
      <div>
        <label for="destination">Destino:</label>
        <input id="destination" formControlName="destination" type="text" placeholder="Ej: Barcelona" />
      </div>
      <div>
        <label for="departureDate">Fecha de Ida:</label>
        <input id="departureDate" formControlName="departureDate" type="date" />
      </div>
      <div>
        <label for="returnDate">Fecha de Vuelta:</label>
        <input id="returnDate" formControlName="returnDate" type="date" />
      </div>
      <div>
        <label for="adults">Número de adultos:</label>
        <input id="adults" formControlName="adults" type="number" placeholder="1" min="1" />
      </div>
      <div>
        <label for="children">Número de niños:</label>
        <input id="children" formControlName="children" type="number" placeholder="0" min="0" />
      </div>
      <div>
        <label for="infants">Número de bebes:</label>
        <input id="infants" formControlName="infants" type="number" placeholder="0" min="0" />
      </div>
      <button type="submit" [disabled]="homeForm.invalid">Buscar Viaje</button>
    </form>
  </div>